In [ ]:
# source: https://www.bogotobogo.com/python/python-REST-API-Http-Requests-for-Humans-with-Flask.php
import requests

# copy your ngrok URL and use it here
url = 'http://dc9f-34-125-38-125.ngrok-free.app'

# default behavior of ngrok webpage is to display a warning page
# let's bypass it using the following HTTP request header
header = {"ngrok-skip-browser-warning" : "1"}

In [ ]:
# test get method
response = requests.get(url,headers=header)
response.json()

{'message': 'Simple ledger webapp is up and running!'}

In [ ]:
# test get method with quarks URI
response = requests.get(url + "/records",headers=header)
response.json()

{'records': [{'balance': 100, 'name': 'Joe'},
  {'balance': 200, 'name': 'Bill'},
  {'balance': 300, 'name': 'Mary'},
  {'balance': 400, 'name': 'Mark'}]}

In [ ]:
# you can create json object and query data in it
jsonObj = response.json()
print(jsonObj)
print("=======================")
print(jsonObj['records'][0]['name'])
print("=======================")
print(jsonObj['records'][1]['balance'])

{'records': [{'balance': 100, 'name': 'Joe'}, {'balance': 200, 'name': 'Bill'}, {'balance': 300, 'name': 'Mary'}, {'balance': 400, 'name': 'Mark'}]}
=======================
Joe
=======================
200

In [ ]:
# test quarks/<name> API
response = requests.get(url + "/records/Joe",headers=header)
response.json()

{'balance': 100, 'name': 'Joe'}

In [ ]:
# test post method
# crate a new json object and post
response = requests.post(url + "/records",headers=header, json={"name":"Superman","balance":"100000"})
response.json()

[{'balance': '300', 'name': 'Jim'},
 {'balance': 200, 'name': 'Bill'},
 {'balance': 300, 'name': 'Mary'},
 {'balance': 400, 'name': 'Mark'},
 {'balance': '100', 'name': 'Joe'},
 {'balance': '100', 'name': 'Aravind'},
 {'balance': '100000', 'name': 'Superman'}]

In [ ]:
# update top quark by replacing it with bottom quark
response = requests.put(url + "/records/Joe",headers=header, json={"name":"Jim","balance":"300"})
response.json()

[{'balance': '300', 'name': 'Jim'},
 {'balance': 200, 'name': 'Bill'},
 {'balance': 300, 'name': 'Mary'},
 {'balance': 400, 'name': 'Mark'},
 {'balance': '100', 'name': 'Joe'},
 {'balance': '100', 'name': 'Aravind'}]

In [ ]:
# test delete API
response = requests.delete(url + "/records/Superman",headers=header)
response.json()

[{'balance': '300', 'name': 'Jim'},
 {'balance': 200, 'name': 'Bill'},
 {'balance': 300, 'name': 'Mary'},
 {'balance': 400, 'name': 'Mark'},
 {'balance': '100', 'name': 'Joe'},
 {'balance': '100', 'name': 'Aravind'}]